body {
    padding: 10px;
    background-color: #e3e2dd;
}

.wrapper {
    padding-block: 1rem;
}

#movie_img {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.movie {
    width: auto;
    height: 250px;
    display: inline-block;
    padding: 25px;
}

.movie-img {
    height: 250px;
    vertical-align: middle;
}

.movie:hover {
    opacity: 0.8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.movie-del {
    display: none;
    background-color: #337ab7;
    outline: none;
    border: 1px;
    color: white;
}

.movie:hover .movie-del {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    opacity: 1;
    background-color: #337ab7;
    outline: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.lib-btn {
    border-radius: 14px;
    bottom: 10em;
    width: 15em;
    border: 1px solid lightgrey;
    background-color: #337ab7;
    outline: none;
    height: 30px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.social-icons {
    text-align: right;
    margin-top: -10px;
}

.social-icons li {
    display: inline-block;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.social-icons li a {
    border-bottom: none;
}

.social-icons li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#container {
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search-box {
    width: 1%;
    border-radius: 50%;
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    outline: none;
    border: 1px solid lightgrey;
    padding: 15px 0px 15px 35px;
    left: 2%;
    background-position: center;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.search-box:hover {
    width: 50%;
    background-position: left;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.title {
    bottom: 20px;
    position: relative;
    display: flex;
}

.floatLeft {
    word-break: break-word;
    width: 8em;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.floatRight {
    width: 6em;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.para {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}

.copy {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    position: absolute;
    margin: auto;
}

.floatRightSocial {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding-right: 10px;
    width: 73%;
    right: 0px;
    display: inline-block;
}

ul li img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 50%;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background-color: grey;
    cursor: pointer;
    transform: rotate(-90deg);
    padding: 10px;
    border-radius: 4px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#myBtn:hover {
    background-color: #555;
}

.open-button {
    background-color: #337ab7;
    color: white;
    margin-top: 10px;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    right: 8%;
    font-size: 20px;
    border-radius: 50%;
}


/* The popup form - hidden by default */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 15px;
    background-color: white;
}


/* Full-width input fields */

.form-container input[type='text'],
.form-container input[type='password'] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}